<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD ADVICE</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="fragments/navigation">MENU</div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Add new advice</h1>
            <form th:action="@{/advices/add}" method="post" th:object="${advice}">
                <div class="form-group">
                    <label for="city">Email</label>
                    <input id="city" type="email" class="form-control" th:field="*{email}"/>
                </div>
                <div th:if="${errors.containsKey('email')}">
                    <p class="text-danger" th:text="${errors.get('email')}"></p>
                </div>
                <div class="form-group">
                    <label for="specializations">Specialization</label>
                    <select id="specializations" th:field="*{specializationDTO.id}">
                        <option th:each="s : ${specializations}" th:value="${s.id}" th:text="${s.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="question">Question</label>
                    <textarea id="question" class="form-control" th:field="*{question}"/>
                </div>
                <div th:if="${errors.containsKey('question')}">
                    <p class="text-danger" th:text="${errors.get('question')}"></p>
                </div>
                <div class="form-group">
                    <button class="btn" style="background-color: #304FFE;" type="submit">Add</button>
                    <button class="btn" style="background-color: #FFF176;" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>