<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>SHOW ALL ADDRESSES</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body class="d-flex flex-column">
    <div th:include="fragments/navigation">MENU</div>

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="page-header text-center mt-4">
                    <h1>ADDRESSES</h1>
                </div>
                <table class="table mt-4">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">City</th>
                        <th scope="col">Street</th>
                        <th scope="col">Postal code</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a, iStat : ${addresses}">
                        <th scope="row" th:text="${iStat.index + 1}"></th>
                        <td th:text="${a.city}"></td>
                        <td th:text="${a.street} + ' ' + ${a.number}"></td>
                        <td th:text="${a.postalCode}"></td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item"  sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a role="button" class="btn btn-secondary btn-sm mr-2" th:href="@{/addresses/modify/{id}(id=${a.id})}">EDIT</a>
                                </li>
                                <li class="list-inline-item">
<!--                                    <a role="button" class="btn btn-secondary btn-sm mr-2" th:href="@{/addresses/{id}(id=${a.id})}">DETAILS</a>-->

                                    <button type="button" class="btn btn-secondary btn-sm mr-2" data-toggle="modal" th:href="'#modalScrollable' + ${iStat.index}">
                                        DETAILS
                                    </button>

                                    <div class="modal fade" th:id="'modalScrollable' + ${iStat.index}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Address details</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="media-body">
                                                        <table class="table">
                                                            <tbody>
                                                            <tr >
                                                                <td >City</td>
                                                                <td th:text="${a.city}"></td>
                                                            </tr>
                                                            <tr >
                                                                <td >Street</td>
                                                                <td th:text="${a.street} + ' ' + ${a.number}"></td>
                                                            </tr>
                                                            <tr >
                                                                <td >Postal code</td>
                                                                <td th:text="${a.postalCode}"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li  class="list-inline-item">
                                    <form th:action="@{/addresses/delete}" method="post"  sec:authorize="hasRole('ROLE_ADMIN')">
                                        <input type="text" name="id" th:value="${a.id}" hidden="hidden" readonly="readonly" />
                                        <button class="btn btn-danger btn-sm mr-2" type="submit">DELETE</button>
                                    </form>
                                </li>
                            </ul>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>