<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REMIND PASSWORD</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:include="fragments/navigationWithoutLogin">MENU</div>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card text-left">
                <div class="card-header">
                    <h1>Write an email</h1>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <div th:if="${!errorsGlobal.isEmpty()}">
                            <h3 class="text-danger text-center" th:each="e : ${errorsGlobal}" th:text="${e}"></h3>
                        </div>
                        <form th:action="@{/login/remind-password}" method="post" th:object="${mail}">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" type="email" class="form-control" name="email" th:field="*{mail}"/>
                            </div>
                            <div th:if="${errors.containsKey('mail')}">
                                <p class="text-danger" th:text="${errors.get('mail')}"></p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-lg btn-block" type="submit">Send email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixed-bottom" th:include="fragments/footer"></div>
</body>
</html>
