<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RESET REMIND PASSWORD</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="fragments/navigation">MENU</div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Change password</h1>
            <div th:if="${!errorsGlobal.isEmpty()}">
                <h3 class="text-danger text-center" th:each="e : ${errorsGlobal}" th:text="${e}"></h3>
            </div>
            <form th:action="@{/login/reset}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="oldPassword">Old password</label>
                    <input id="oldPassword" type="password" class="form-control" name="username" th:field="*{oldPassword}"/>
                </div>
                <div th:if="${errors.containsKey('oldPassword')}">
                    <p class="text-danger" th:text="${errors.get('oldPassword')}"></p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" name="username" th:field="*{password}"/>
                </div>
                <div th:if="${errors.containsKey('password')}">
                    <p class="text-danger" th:text="${errors.get('password')}"></p>
                </div>
                <div class="form-group">
                    <label for="passwordConfirmation">Password confirmation</label>
                    <input id="passwordConfirmation" type="password" class="form-control" name="password" th:field="*{passwordConfirmation}"/>
                </div>
                <div th:if="${errors.containsKey('passwordConfirmation')}">
                    <p class="text-danger" th:text="${errors.get('passwordConfirmation')}"></p>
                </div>
                <input type="text" class="form-control" hidden="hidden" readonly="readonly" th:field="*{id}"/>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="fixed-bottom" th:include="fragments/footer"></div>
</body>
</html>
